@media only screen and (max-width: 991.98px) {
    .text-19-mob{
     font-size: 19px !important;
    }
    .w-75{
        width: 100% !important;
    }
    .contact_form_main input {
        height: 46px;
    }
  }
