.section_location{
    .icon_list{
        span{
            padding-left: 30px !important;
            i{
                font-size: 9px !important;
                width: 20px !important;
                height: 20px !important;
                top: 2px !important;
        }
        p{
            margin-bottom:  0 !important;
        }
    }
}
}